.column_1 { width: 1px; }
.column_2 { width: 20%; }
.column_3 { width: 10%; }
.column_4 { width: 20%; }
.column_5 { width: 50%; }

.status_icon {
  margin-right: 10px;
}

.status_icon.red {
  color: #ff0000;
}

.status_icon.green {
  color: #00aa00;
}

.login_data {
  display: none;
}

td.avatar {
  text-align: center;
}

td.avatar img {
  height: 40px;
  border-radius: 50%;
}
