form.filter input.filter-icon {  
  border: 0 none;
  background-color: transparent;
  background-repeat: no-repeat;
}

a.icon_link, a.icon_link *, .portlet-title a {
  color: inherit;
}

.fleft { float: left; }
.fright { float: right; }

.portlet-title .tools .fa { margin-left: 10px; }

.input-group.date {
  width: 220px;
}

.pagination {
  margin: 0px;
}

table .icon {
  width: 20px;
  text-align: center;
}

table .no_object td.alert-error {
  background-color: #f2dede !important;
}

table .no_object td.alert-error > .heading {
  font-weight: bold;
  font-size: 120%;
}

table .no_object td.alert-error > .heading .fa {
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.portlet-title .caption a:not(.btn) {
  color: #ffffff;
  font-size: 12px;
}

.portlet-title .caption .btn.btn-xs {
  line-height: 1.4;
}

.portlet > .portlet-title > .tools.with_tabs {
  padding: 15px 0 8px 26px;
}

.mandatory {
  float: right;
}

tfoot.summary {
  background-color: #ffaaaa;
  font-weight: bold;
  font-size: 15px;
}

table.without_filter {
  margin-bottom: 30px;
}

.select2-results .level1 { padding-left: 10px; }
.select2-results .level2 { padding-left: 20px; }
.select2-results .level3 { padding-left: 30px; }
.select2-results .level4 { padding-left: 40px; }
.select2-results .level5 { padding-left: 50px; }
.select2-results .level6 { padding-left: 60px; }

.show_toggle_password {
  margin-top: 5px;
}

/* manage-table */
.manage-table>tbody>tr>th, .manage-table>tbody>tr>td {
  vertical-align: middle;
}

.manage-table th a.sorting_link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333333;
}

.manage-table th a.sorting_link:hover {
  text-decoration: none;
}

.filter-actions {
  float: right;
  margin-bottom: 5px;
  margin-right: 5px;
}

.manage-table tbody tr { cursor: pointer; }
.manage-table tbody tr:hover:not(.no_object) td,
.manage-table tbody tr:hover:not(.no_object) td :not(.form-control) { color: #ffffff; }

/* blue */
.blue.manage-table tbody tr:hover td           { background-color: #4b8df8; }
.blue-hoki.manage-table tbody tr:hover td      { background-color: #67809f; }
.blue-steel.manage-table tbody tr:hover td     { background-color: #4b77be; }
.blue-madison.manage-table tbody tr:hover td   { background-color: #578ebe; }
.blue-chambray.manage-table tbody tr:hover td  { background-color: #2c3e50; }
.blue-ebonyclay.manage-table tbody tr:hover td { background-color: #22313f; }

.blue.form-control:focus,
.blue-hoki.form-control:focus,
.blue-steel.form-control:focus,
.blue-madison.form-control:focus,
.blue-chambray.form-control:focus,
.blue-ebonyclay.form-control:focus {
  border-color: #4b8df8;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(75, 141, 248, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(75, 141, 248, 0.6);
}

.blue.pagination .active *,
.blue-hoki.pagination .active *,
.blue-steel.pagination .active *,
.blue-madison.pagination .active *,
.blue-chambray.pagination .active *,
.blue-ebonyclay.pagination .active * {
  background-color: #4b8df8;
}

.blue.pagination .active :hover,
.blue-hoki.pagination .active :hover,
.blue-steel.pagination .active :hover,
.blue-madison.pagination .active :hover,
.blue-chambray.pagination .active :hover,
.blue-ebonyclay.pagination .active :hover {
  background-color: #457eda;
}

.ui-datepicker.blue { border-color: #4b8df8; }
.ui-datepicker.blue .ui-datepicker-header { background-color: #4b8df8; color: #ffffff; }
.ui-datepicker.blue .ui-datepicker-calendar .ui-state-hover { background-color: #93bbfb !important; border-color: #93bbfb !important; }
.ui-datepicker.blue .ui-datepicker-calendar .ui-state-active { background-color: #4b8df8 !important; border-color: #4b8df8 !important; }
.ui-datepicker.blue .ui-datepicker-calendar .ui-state-highlight { background-color: #93bbfb !important; border-color: #93bbfb !important; }

/* green */
.green.manage-table tbody tr:hover td            { background-color: #35aa47; }
.green-meadow.manage-table tbody tr:hover td     { background-color: #1bbc9b; }
.green-seagreen.manage-table tbody tr:hover td   { background-color: #1ba39c; }
.green-turquoise.manage-table tbody tr:hover td  { background-color: #36d7b7; }
.green-haze.manage-table tbody tr:hover td       { background-color: #44b6ae; }
.green-jungle.manage-table tbody tr:hover td     { background-color: #26c281; }

.green.form-control:focus,
.green-meadow.form-control:focus,
.green-seagreen.form-control:focus,
.green-turquoise.form-control:focus,
.green-haze.form-control:focus,
.green-jungle.form-control:focus {
  border-color: #35aa47;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(53, 170, 71, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(53, 170, 71, 0.6);
}

.green.pagination .active *,
.green-meadow.pagination .active *,
.green-seagreen.pagination .active *,
.green-turquoise.pagination .active *,
.green-haze.pagination .active *,
.green-jungle.pagination .active * {
  background-color: #35aa47;
}

.green.pagination .active :hover,
.green-meadow.pagination .active :hover,
.green-seagreen.pagination .active :hover,
.green-turquoise.pagination .active :hover,
.green-haze.pagination .active :hover,
.green-jungle.pagination .active :hover {
  background-color: #2e953e;
}

.ui-datepicker.green { border-color: #35aa47; }
.ui-datepicker.green .ui-datepicker-header { background-color: #35aa47; color: #ffffff; }
.ui-datepicker.green .ui-datepicker-calendar .ui-state-hover { background-color: #73d382 !important; border-color: #73d382 !important; }
.ui-datepicker.green .ui-datepicker-calendar .ui-state-active { background-color: #35aa47 !important; border-color: #35aa47 !important; }
.ui-datepicker.green .ui-datepicker-calendar .ui-state-highlight { background-color: #73d382 !important; border-color: #73d382 !important; }

/* red */
.red.manage-table tbody tr:hover td              { background-color: #d84a38; }
.red-pink.manage-table tbody tr:hover td         { background-color: #e08283; }
.red-sunglo.manage-table tbody tr:hover td       { background-color: #e26a6a; }
.red-intense.manage-table tbody tr:hover td      { background-color: #e35b5a; }
.red-thunderbird.manage-table tbody tr:hover td  { background-color: #d91e18; }
.red-flamingo.manage-table tbody tr:hover td     { background-color: #ef4836; }

.red.form-control:focus,
.red-pink.form-control:focus,
.red-sunglo.form-control:focus,
.red-intense.form-control:focus,
.red-thunderbird.form-control:focus,
.red-flamingo.form-control:focus {
  border-color: #d84a38;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(216, 74, 56, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(216, 74, 56, 0.6);
}

.red.pagination .active *,
.red-pink.pagination .active *,
.red-sunglo.pagination .active *,
.red-intense.pagination .active *,
.red-thunderbird.pagination .active *,
.red-flamingo.pagination .active * {
  background-color: #d84a38;
}

.red.pagination .active :hover,
.red-pink.pagination .active :hover,
.red-sunglo.pagination .active :hover,
.red-intense.pagination .active :hover,
.red-thunderbird.pagination .active :hover,
.red-flamingo.pagination .active :hover {
  background-color: #bf2d19;
}

.ui-datepicker.red { border-color: #d84a38; }
.ui-datepicker.red .ui-datepicker-header { background-color: #d84a38; color: #ffffff; }
.ui-datepicker.red .ui-datepicker-calendar .ui-state-hover { background-color: #ecaba2 !important; border-color: #ecaba2 !important; }
.ui-datepicker.red .ui-datepicker-calendar .ui-state-active { background-color: #d84a38 !important; border-color: #d84a38 !important; }
.ui-datepicker.red .ui-datepicker-calendar .ui-state-highlight { background-color: #ecaba2 !important; border-color: #ecaba2 !important; }

/* yellow */
.yellow.manage-table tbody tr:hover td             { background-color: #ffb848; }
.yellow-gold.manage-table tbody tr:hover td        { background-color: #e87e04; }
.yellow-casablanca.manage-table tbody tr:hover td  { background-color: #f2784b; }
.yellow-crusta.manage-table tbody tr:hover td      { background-color: #f3c200; }
.yellow-lemon.manage-table tbody tr:hover td       { background-color: #f7ca18; }
.yellow-saffron.manage-table tbody tr:hover td     { background-color: #f4d03f; }

.yellow.form-control:focus,
.yellow-gold.form-control:focus,
.yellow-casablanca.form-control:focus,
.yellow-crusta.form-control:focus,
.yellow-lemon.form-control:focus,
.yellow-saffron.form-control:focus {
  border-color: #ffb848;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 184, 72, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 184, 72, 0.6);
}

.ui-datepicker.yellow { border-color: #ffb848; }
.ui-datepicker.yellow .ui-datepicker-header { background-color: #ffb848; color: #ffffff; }
.ui-datepicker.yellow .ui-datepicker-calendar .ui-state-hover { background-color: #ffdead !important; border-color: #ffdead !important; }
.ui-datepicker.yellow .ui-datepicker-calendar .ui-state-active { background-color: #ffb848 !important; border-color: #ffb848 !important; }
.ui-datepicker.yellow .ui-datepicker-calendar .ui-state-highlight { background-color: #ffdead !important; border-color: #ffdead !important; }

/* purple */
.purple.manage-table tbody tr:hover td           { background-color: #8e44ad; }
.purple-plum.manage-table tbody tr:hover td      { background-color: #8775a7; }
.purple-medium.manage-table tbody tr:hover td    { background-color: #bf55ec; }
.purple-studio.manage-table tbody tr:hover td    { background-color: #8e44ad; }
.purple-wisteria.manage-table tbody tr:hover td  { background-color: #9b59b6; }
.purple-seance.manage-table tbody tr:hover td    { background-color: #9a12b3; }

.purple.form-control:focus,
.purple-plum.form-control:focus,
.purple-medium.form-control:focus,
.purple-studio.form-control:focus,
.purple-wisteria.form-control:focus,
.purple-seance.form-control:focus {
  border-color: #8e44ad;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(142, 68, 173, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(142, 68, 173, 0.6);
}

.ui-datepicker.purple { border-color: #8e44ad; }
.ui-datepicker.purple .ui-datepicker-header { background-color: #8e44ad; color: #ffffff; }
.ui-datepicker.purple .ui-datepicker-calendar .ui-state-hover { background-color: #c498d7 !important; border-color: #c498d7 !important; }
.ui-datepicker.purple .ui-datepicker-calendar .ui-state-active { background-color: #8e44ad !important; border-color: #8e44ad !important; }
.ui-datepicker.purple .ui-datepicker-calendar .ui-state-highlight { background-color: #c498d7 !important; border-color: #c498d7 !important; }

/* grey */
.grey.manage-table tbody tr:hover td         { background-color: #e5e5e5; color: #000000; }
.grey-cascade.manage-table tbody tr:hover td { background-color: #95a5a6; }
.grey-silver.manage-table tbody tr:hover td  { background-color: #bfbfbf; }
.grey-steel.manage-table tbody tr:hover td   { background-color: #e9edef; color: #80898e; }
.grey-cararra.manage-table tbody tr:hover td { background-color: #fafafa; color: #000000; }
.grey-gallery.manage-table tbody tr:hover td { background-color: #555555; }

.grey.form-control:focus,
.grey-cascade.form-control:focus,
.grey-silver.form-control:focus,
.grey-steel.form-control:focus,
.grey-cararra.form-control:focus,
.grey-gallery.form-control:focus {
  border-color: #e5e5e5;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(229, 229, 229, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(229, 229, 229, 0.6);
}

.ui-datepicker.grey { border-color: #666666; }
.ui-datepicker.grey .ui-datepicker-header { background-color: #666666; color: #ffffff; }
.ui-datepicker.grey .ui-datepicker-calendar .ui-state-hover { background-color: #a3a3a3 !important; border-color: #a3a3a3 !important; }
.ui-datepicker.grey .ui-datepicker-calendar .ui-state-active { background-color: #666666 !important; border-color: #666666 !important; }
.ui-datepicker.grey .ui-datepicker-calendar .ui-state-highlight { background-color: #a3a3a3 !important; border-color: #a3a3a3 !important; }

/* datepicker */
.hasDatepicker.black .ui-datepicker, .ui-datepicker.black { border-color: #3d3d3d; }
.hasDatepicker.black .ui-datepicker-header , .ui-datepicker.black .ui-datepicker-header { background-color: #3d3d3d; color: #ffffff; }
.hasDatepicker.black .ui-datepicker-calendar .ui-state-hover , .ui-datepicker.black .ui-datepicker-calendar .ui-state-hover { background-color: #666666 !important; border-color: #666666 !important; }
.hasDatepicker.black .ui-datepicker-calendar .ui-state-active , .ui-datepicker.black .ui-datepicker-calendar .ui-state-active { background-color: #3d3d3d !important; border-color: #3d3d3d !important; }
.hasDatepicker.black .ui-datepicker-calendar .ui-state-highlight , .ui-datepicker.black .ui-datepicker-calendar .ui-state-highlight { background-color: #666666 !important; border-color: #666666 !important; }

/* sortable icons */
table thead .sorting,
table thead .sorting_asc,
table thead .sorting_desc,
table thead .sorting_asc_disabled,
table thead .sorting_desc_disabled {
  cursor: pointer;
}

table thead .sorting { background: url('../images/icons/sort_both.png') no-repeat center right; }
table thead .sorting_asc { background: url('../images/icons/sort_asc.png') no-repeat center right; }
table thead .sorting_desc { background: url('../images/icons/sort_desc.png') no-repeat center right; }

table thead .sorting_asc_disabled { background: url('../images/icons/sort_asc_disabled.png') no-repeat center right; }
table thead .sorting_desc_disabled { background: url('../images/icons/sort_desc_disabled.png') no-repeat center right; }

.icon_link.disabled * {
  color: #ababab !important;
  cursor: no-drop !important;
}

/* strankovani */
.pagination {
  float: right;
}

.info_of_page .current_page {
  width: 60px;
  display: inline-block;
}

.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.nowrap {
  white-space: nowrap;
}

table th > .control-group, table td > .control-group {
  margin-bottom: 0px !important;
}

table th > .control-group > .controls, table td > .control-group > .controls {
  margin-left: 0px;
}

img.select_flag {
  margin-top: -4px;
  width: 20px;
}

.ui-autocomplete .ui-menu-item .highlight {
  background-color: #3399ff;
  color: #ffffff;
  text-decoration: underline;
}

.ui-autocomplete .ui-menu-item.ui-state-focus .highlight {
  background-color: #ffffff;
  color: #000000;
}

table .no_object td {
  padding: 10px;
  text-align: center;
}

table tr.no_object td.alert-error, table tr.no_object:hover td.alert-error,
table.manage-table tr.no_object td.alert-error, table.manage-table tr.no_object:hover td.alert-error {
  background-color: #f2dede;
  color: #b94a48;
  cursor: auto;
}

table .no_object td.alert-error > .heading {
  font-weight: bold;
  font-size: 120%;
}

table .no_object td.alert-error > .heading fa {
  margin-right: 10px;
  margin-top: -1px;
}

.row-fluid.pagination {
  margin-top: 10px;
}

.fileUpload {
	position: relative;
}

.fileUpload input.files {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

li.current_time>a {
  padding-top: 13px;
  padding-bottom: 13px;
  color: #c5c5c5;
}

li.current_time>a:hover,
li.current_time>a:focus,
li.current_time>a:active {
  background-color: transparent;
}

li.current_time {
  position: relative;
}

#top_current_time_calendar {
  display: none;
  background-color: #ffffff;
  padding: 5px;
  position: absolute;
  
  -webkit-box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 13px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 13px 0px rgba(50, 50, 50, 0.75);
}

.page-header .brand {
  display: inline-block;
  margin-top: 9px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 500px;
  color: #ffffff;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Open Sans';
}

.page-header .brand:hover,
.page-header .brand:active {
  text-decoration: none;
}

.page-header .brand img {
  margin-left: 20px;
}

.page-header .brand span {
  color: #ff0000;
}

.page-footer-fixed .page-footer {
  height: auto;
}

.page-footer-fixed .page-footer .page-footer-inner {
  line-height: 34px;
}

.page-footer-fixed .page-footer .page-footer-inner a {
  color: #ffffff;
}

.page-footer .scroll-to-top {
  bottom: 5px;
}

.scroll-to-top > i {
  color: #a3a3a3;
  opacity: 1;
  filter: alpha(opacity=100);
  
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.scroll-to-top > i:hover {
  color: #ffffff;
}

.smarty_logo {
  display: inline-block;
  margin-left: 25px;
  text-indent: -9999px;
  background-image: url('../images/smarty_logo.png');
  background-repeat: no-repeat;
  width: 108px;
  height: 34px;
  cursor: pointer;
}

.smarty_logo:hover {
  background-position-x: -108px;
}

/* skryje polozku menu */
ul.page-sidebar-menu li.hide-item {
  display: none;
}

.btn i.fa:not(.no_margin) {
  margin-right: 10px;
}

.fa.aditional {
  position: absolute;
  right: -5px;
  bottom: -2px;
  z-index: 150;
  font-size: 80%;
}

.icons {
  position: relative;
  width: 18px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.icons .fa {
  color: #aaa;
}

.page-content .breadcrumb .icons {
  margin-right: 4px;
}

.page-sidebar-menu {
  display: block;
}

.alert ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.alert ul li { margin-bottom: 10px; }
.alert ul li:last-child { margin-bottom: 0px; }

.login .logo, .page-lock .page-logo {
  width: 350px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}

.login .logo span, .page-lock .page-logo span {
  color: #ff0000;
}

.btn.cancel {
  margin-left: 100px;
}

.CodeMirror {
  height: 500px;
}

.hidden {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-lock-wrapper {
  display: none;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  
  z-index: 99999;
}

.page-lock .page-logo {
  font-size: 200%;
}

.page-logo i, .login .logo i {
  font-size: 100%;
}

.page-lock .page-body {
  margin-top: 5px;
}

.page-lock .lock-bottom {
  color: #ffffff;
}

.all_body.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-404 {
  text-align: center;
}

.page-404 .number {
  display: inline-block;
  letter-spacing: -10px;
  line-height: 128px;
  font-size: 128px;
  font-weight: 300;
  color: #ec8c8c;
  text-align: right;
}

.jquery-notific8-container .jquery-notific8-notification {
  max-height: none;
  height: auto;
  
  border-radius: 10px;
}

.jquery-notific8-container.right .jquery-notific8-notification {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.jquery-notific8-container.left .jquery-notific8-notification {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

/* success */
.jquery-notific8-notification.lime .jquery-notific8-close,
.jquery-notific8-notification.lime .jquery-notific8-close-sticky,
.jquery-notific8-container .jquery-notific8-notification.lime {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.jquery-notific8-notification.lime .jquery-notific8-close,
.jquery-notific8-notification.lime .jquery-notific8-close-sticky {
  background-color: #d6e9c6;
}

/* danger */
.jquery-notific8-notification.ruby .jquery-notific8-close,
.jquery-notific8-notification.ruby .jquery-notific8-close-sticky,
.jquery-notific8-container .jquery-notific8-notification.ruby {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.jquery-notific8-notification.ruby .jquery-notific8-close,
.jquery-notific8-notification.ruby .jquery-notific8-close-sticky {
  background-color: #ebccd1;
}

/* warning */
.jquery-notific8-notification.tangerine .jquery-notific8-close,
.jquery-notific8-notification.tangerine .jquery-notific8-close-sticky,
.jquery-notific8-container .jquery-notific8-notification.tangerine {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.jquery-notific8-notification.tangerine .jquery-notific8-close,
.jquery-notific8-notification.tangerine .jquery-notific8-close-sticky {
  background-color: #faebcc;
}

/* info */
.jquery-notific8-notification.teal .jquery-notific8-close,
.jquery-notific8-notification.teal .jquery-notific8-close-sticky,
.jquery-notific8-container .jquery-notific8-notification.teal {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.jquery-notific8-notification.teal .jquery-notific8-close,
.jquery-notific8-notification.teal .jquery-notific8-close-sticky {
  background-color: #bce8f1;
}

.btn-xs {
  padding: 1px 10px;
}

span.unimportant {
  font-size: 85%;
  font-style: italic;
  color: #e35b5a;
}

span.unimportant.unimportant-block {
  display: block;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
  font-size: 13px;
}

div.checker, div.checker span, div.checker input,
div.radio, div.radio span, div.radio input {
  width: auto;
  height: auto;
}

div.radio, div.checker {
  margin-left: 0px;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, 
.form-horizontal .radio, .form-horizontal .radio-inline {
  padding-top: 0px;
}

.checker {
  margin-top: 0px !important;
}

input[type="text"].spinner,
input[type="password"].spinner,
input[type="datetime"].spinner,
input[type="datetime-local"].spinner,
input[type="date"].spinner,
input[type="month"].spinner,
input[type="time"].spinner,
input[type="week"].spinner,
input[type="number"].spinner,
input[type="email"].spinner,
input[type="url"].spinner,
input[type="search"].spinner,
input[type="tel"].spinner,
input[type="color"].spinner {
  background-position-x: 99%;
}

.lang_tab_icon {
  width: 14px;
  margin-right: 5px;
  line-height: 14px;
}

.profile-sidebar {
  text-align: center;
}

.profile-userpic .thumbnail {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-userpic .thumbnail img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
  
  border-radius: 0 !important;
}

#cropper {
  display: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.page-spinner-bar.white > div,
.block-spinner-bar.white > div {
  background: #ffffff;
}

.loading-message {
  position: relative;
  left: -35px;
}
