.CodeMirror {
  margin-top: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #fdf8f7;
  
  border: 1px dotted #ababab;
  border-radius: 5px;
}

.evaluated_code {
  margin: 10px 25px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  
  border: 1px dotted #ababab;
  background: repeating-linear-gradient(45deg, #ffffff, #f6f6f6 20px, #f2f2f2 30px, #f0f0f0 40px);
  
  border-radius: 5px;
}

#source_code_examples {
  float: right;
  padding-right: 15px;
}

table {
  background-color: #ffffff;
}

.evaluated_code :last-child {
  margin-bottom: 0;
}
